LocalSample/IOTStudio/flow_XcarBot_SampleForIOTStudio.txt
[{"id":"51b7c8b9.02b6f8","type":"debug","z":"6be9f350.9b27ac","name":"","active":true,"console":"false","complete":"false","x":410,"y":60,"wires":[]},{"id":"a6710564.065eb8","type":"azureiothub","z":"6be9f350.9b27ac","name":"Azure IoT Hub","protocol":"mqtt","x":220,"y":60,"wires":[["51b7c8b9.02b6f8","a0f498f2.b9f488"]]},{"id":"143f4300.3d20dd","type":"switch","z":"6be9f350.9b27ac","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","outputs":2,"x":570,"y":120,"wires":[["450307e4.4c0c38"],["2a397896.007738","74c287f.d213f78"]]},{"id":"a0f498f2.b9f488","type":"function","z":"6be9f350.9b27ac","name":"解析 IPCCommand Command","func":"//node.warn(msg.payload);\n\n msg.xcarebot = \"None\";\n msg.payload.__CommandReturnStatus = 1;\n msg.payload.__ReturnValue = \"Warning:'__AzureSphereDMCommand' is unexpected\";\n \nif(msg.payload) {\n    node.warn(\"Get XcareBot Request\");\n    \n    flow.set(\"vendor\", msg.payload[\"__AzureSphereVendor\"]);\n    flow.set(\"azurespheredmcommnad\", msg.payload[\"__AzureSphereDMCommand\"]);\n    flow.set(\"username\", msg.payload[\"__NexcomUserName\"]);\n    flow.set(\"devicename\", msg.payload[\"__AzureSphereDeviceName\"]);\n    flow.set(\"ipccommand\", msg.payload[\"__IPCCOMMAND\"]);\n    \n    //node.warn(msg.payload[\"__AzureSphereDMCommand\"]);\n    if( msg.payload[\"__AzureSphereDMCommand\"] !== undefined ) {\n        if( msg.payload[\"__AzureSphereDMCommand\"] == \"IPCCOMMAND\" ) {\n            node.warn(\"Is IPCCOMMAND\");\n            var tmpIPC = \"__\" + msg.payload[\"__AzureSphereDMCommand\"];\n            \n            //node.warn(msg.payload[tmpIPC]);\n            if(msg.payload[tmpIPC] !== undefined ) {\n                var tmpCommand = msg.payload[tmpIPC];\n                var arrGet = tmpCommand.split(\"Get\");\n                var arrSet = tmpCommand.split(\"Set\");\n                \n                //node.warn(arrSet);\n                //node.warn(arrGet);\n                if(arrGet.length == 2 && arrGet[0].length === 0) {\n                    msg.xcarebot = \"IPCCOMMAND_Get\"\n                    msg.payload.__CommandReturnStatus = 0;\n                    msg.payload.__ReturnValue = arrGet[1];\n                    \n                } else if(arrSet.length == 2 && arrSet[0].length === 0) {\n                    msg.xcarebot = \"IPCCOMMAND_Set\"\n                    msg.payload.__CommandReturnStatus = 0;\n                    msg.payload.__ReturnValue = arrSet[1];\n                    \n                } else {\n                    msg.xcarebot = \"IPCCOMMAND_None\";\n                    msg.payload.__CommandReturnStatus = 0;\n                    msg.payload.__ReturnValue = msg.payload[\"IPCCOMMAND\"];\n                }\n            }\n        } else {\n            node.warn(\"Is NOT IPCCOMMAND\");\n            msg.xcarebot = \"AzureSphereDMCommand\";\n            msg.payload.__CommandReturnStatus = 0;\n        }\n    } \n    \n    msg.payload.__BotReturnTime = Math.floor(new Date() / 1000).toString();\n    return msg;\n} \n\nmsg.payload = null;\nreturn msg;\n    \n\n\n \n\n","outputs":1,"noerr":0,"x":330,"y":120,"wires":[["143f4300.3d20dd"]]},{"id":"450307e4.4c0c38","type":"debug","z":"6be9f350.9b27ac","name":"","active":true,"console":"false","complete":"true","x":730,"y":100,"wires":[]},{"id":"2a397896.007738","type":"debug","z":"6be9f350.9b27ac","name":"","active":false,"console":"false","complete":"true","x":730,"y":140,"wires":[]},{"id":"33a25dfa.e4fed2","type":"function","z":"6be9f350.9b27ac","name":"Data for IPCCOMMAND_Get response","func":"//node.warn(msg.payload);\n\nvar tmpWaterLevel = Math.floor(Math.random() * 100) / 100;\nvar tmpVoltage = Math.floor(Math.random() * 100) / 100;\nvar tmpTemperature = Math.floor(Math.random() * 100) / 100;\nvar tmpHumidity = Math.floor(Math.random() * 100) / 100;\nvar tmpSIN = Math.floor(Math.random() * 100) / 100;\nvar tmpPump = Math.floor(Math.random()*2);\n\nif(msg.payload) {\n    //node.warn(msg.payload[\"__ReturnValue\"]);\n    if( msg.payload[\"__ReturnValue\"] !== undefined ) {\n        var tmpCommand = msg.payload[\"__ReturnValue\"];\n        \n        if(tmpCommand == \"WaterLevel\") \n            msg.payload.__ReturnValue = msg.payload.__ReturnValue+\"=\"+tmpWaterLevel;\n            \n        if(tmpCommand == \"Voltage\")\n            msg.payload.__ReturnValue = msg.payload.__ReturnValue+\"=\"+tmpVoltage+\"V\";\n            \n        if(tmpCommand == \"Temperature\")\n            msg.payload.__ReturnValue = msg.payload.__ReturnValue+\"=\"+tmpTemperature+\"C\";\n            \n        if(tmpCommand == \"Humidity\")\n            msg.payload.__ReturnValue = msg.payload.__ReturnValue+\"=\"+tmpHumidity+\"%\";\n            \n        if(tmpCommand == \"SIN\")\n            msg.payload.__ReturnValue = msg.payload.__ReturnValue+\"=\"+tmpSIN;\n            \n        if(tmpCommand == \"PumpStatus\") {\n            if(tmpWaterLevel == 1)\n                msg.payload.__ReturnValue = msg.payload.__ReturnValue+\"=On\";\n            else\n                msg.payload.__ReturnValue = msg.payload.__ReturnValue+\"=Off\";\n        }\n    }\n}\n\nmsg.payload.__BotReturnTime = Math.floor(new Date() / 1000).toString();\nnode.send(msg);\n","outputs":1,"noerr":0,"x":930,"y":260,"wires":[["c83f139a.e66db","70f5a51.49abc5c"]]},{"id":"c83f139a.e66db","type":"debug","z":"6be9f350.9b27ac","name":"","active":true,"console":"false","complete":"false","x":1190,"y":280,"wires":[]},{"id":"74c287f.d213f78","type":"switch","z":"6be9f350.9b27ac","name":"","property":"xcarebot","propertyType":"msg","rules":[{"t":"eq","v":"IPCCOMMAND_Get","vt":"str"},{"t":"eq","v":"IPCCOMMAND_Set","vt":"str"},{"t":"eq","v":"IPCCOMMAND_None","vt":"str"},{"t":"eq","v":"AzureSphereDMCommand","vt":"str"},{"t":"eq","v":"None","vt":"str"}],"checkall":"true","outputs":5,"x":590,"y":540,"wires":[["dffd1c95.86e62","33a25dfa.e4fed2"],["14455b9a.d3c0d4","dc9cc44b.d4ccc8"],["916b909d.d7cb9","a0caf878.0b3788"],["4575c15.e9eec4","ca78187c.8d70d8"],["69329aa4.23eff4","e413bba2.856b08"]]},{"id":"dffd1c95.86e62","type":"debug","z":"6be9f350.9b27ac","name":"","active":false,"console":"false","complete":"true","x":830,"y":220,"wires":[]},{"id":"14455b9a.d3c0d4","type":"debug","z":"6be9f350.9b27ac","name":"","active":false,"console":"false","complete":"true","x":830,"y":340,"wires":[]},{"id":"916b909d.d7cb9","type":"debug","z":"6be9f350.9b27ac","name":"","active":false,"console":"false","complete":"payload","x":850,"y":460,"wires":[]},{"id":"9f4be8ae.0dbcc8","type":"function","z":"6be9f350.9b27ac","name":"Handle PING command","func":"//node.warn(msg.payload);\n\nmsg.payload.__CommandReturnStatus = 1\nmsg.payload.__ReturnValue = \"Erroe: PING Command\";\n    \nif(msg.payload) {\n    msg.payload.__ReturnValue = \"Ping device is OK\";\n    msg.payload.__CommandReturnStatus = 0;\n}\n\nmsg.payload.__BotReturnTime = Math.floor(new Date() / 1000).toString();\nreturn msg;\n","outputs":1,"noerr":0,"x":1290,"y":500,"wires":[["556d4413.4d361c"]]},{"id":"4575c15.e9eec4","type":"debug","z":"6be9f350.9b27ac","name":"","active":false,"console":"false","complete":"payload","x":850,"y":680,"wires":[]},{"id":"a0caf878.0b3788","type":"switch","z":"6be9f350.9b27ac","name":"Data for IPCCOMMAND_None response","property":"payload.__IPCCOMMAND","propertyType":"msg","rules":[{"t":"eq","v":"PING","vt":"str"},{"t":"eq","v":"SoftwareReset","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":940,"y":520,"wires":[["9f4be8ae.0dbcc8"],["b97d4a3c.07fb28"],["64b5c4fa.a03ebc"]]},{"id":"b97d4a3c.07fb28","type":"function","z":"6be9f350.9b27ac","name":"Handle SoftwareReset command","func":"//node.warn(msg.payload);\n\nmsg.payload.__CommandReturnStatus = 1;\n\nif(msg.payload) {\n    if( msg.payload[\"Count\"] !== undefined ) {\n        msg.payload.__CommandReturnStatus = 0;\n        msg.payload.__ReturnValue = \"Reset device is OK\";\n        \n    }\n    else {\n        msg.payload.__ReturnValue = \"Warning:'Count' can't find\";\n    }\n}\nmsg.payload.__BotReturnTime = Math.floor(new Date() / 1000).toString();\nreturn msg;\n","outputs":1,"noerr":0,"x":1320,"y":560,"wires":[["556d4413.4d361c"]]},{"id":"64b5c4fa.a03ebc","type":"debug","z":"6be9f350.9b27ac","name":"","active":true,"console":"false","complete":"false","x":1250,"y":620,"wires":[]},{"id":"ca78187c.8d70d8","type":"function","z":"6be9f350.9b27ac","name":"Data for AzureSphereDMCommand response","func":"msg.payload.__CommandReturnStatus = 1;\nmsg.payload.__ReturnValue = \"Error: AzureSphereDMCommand Command\";\n\nif(msg.payload) {\n    node.warn(\"Get Request\");\n    if( msg.payload[\"__AzureSphereDMCommand\"] !== undefined ) {\n        msg.payload.__CommandReturnStatus = 0;\n        msg.payload.__ReturnValue = \"Got '\" + msg.payload[\"__AzureSphereDMCommand\"] + \"' Command\";\n    }\n} \n    \nmsg.payload.__BotReturnTime = Math.floor(new Date() / 1000).toString();    \nreturn msg;\n","outputs":1,"noerr":0,"x":950,"y":740,"wires":[["556d4413.4d361c"]]},{"id":"dc9cc44b.d4ccc8","type":"function","z":"6be9f350.9b27ac","name":"Data for IPCCOMMAND_Set response","func":" \n msg.action = \"None\";\n \n if(msg.payload) {\n    if( msg.payload[\"__ReturnValue\"] !== undefined ) {\n        var tmpCommand = msg.payload[\"__ReturnValue\"];\n        \n        if(tmpCommand == \"UploadBlob\") \n            msg.action = \"UploadBlob\";\n            \n        if(tmpCommand.indexOf('PLC') !== -1) \n            msg.action = \"PLC\";\n        \n        if(tmpCommand.indexOf('TurnOn') !== -1) \n            msg.action = \"TurnOn\";\n            \n        if(tmpCommand.indexOf('TurnOff') !== -1) \n            msg.action = \"TurnOff\";\n    }\n }\n \nnode.warn(msg);\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":380,"wires":[["e468d3e5.33a05"]]},{"id":"e468d3e5.33a05","type":"function","z":"6be9f350.9b27ac","name":"Response Data","func":"msg.payload.__CommandReturnStatus = 1;\nmsg.payload.__ReturnValue = \"Error:\";\n\nif(msg.payload) {\n    if( msg.payload[\"__IPCCOMMAND\"] !== undefined ) {\n        msg.payload.__CommandReturnStatus = 0;\n        msg.payload.__ReturnValue = \"Warning:Got '\" + msg.payload[\"__IPCCOMMAND\"] + \"' Command\";\n    }\n} \n    \nmsg.payload.__BotReturnTime = Math.floor(new Date() / 1000).toString();    \nreturn msg;\n","outputs":1,"noerr":0,"x":1200,"y":380,"wires":[["556d4413.4d361c"]]},{"id":"69329aa4.23eff4","type":"debug","z":"6be9f350.9b27ac","name":"","active":true,"console":"false","complete":"false","x":850,"y":820,"wires":[]},{"id":"fc5cf2c1.12f1","type":"link in","z":"6be9f350.9b27ac","name":"1","links":["18b2791b.f205e7","acf3a690.8dcac8","824d126c.96e2c","de7129e1.c0a398","556d4413.4d361c","70f5a51.49abc5c","e413bba2.856b08"],"x":75,"y":60,"wires":[["a6710564.065eb8"]]},{"id":"556d4413.4d361c","type":"link out","z":"6be9f350.9b27ac","name":"","links":["fc5cf2c1.12f1"],"x":1575,"y":560,"wires":[]},{"id":"70f5a51.49abc5c","type":"link out","z":"6be9f350.9b27ac","name":"","links":["fc5cf2c1.12f1"],"x":1135,"y":240,"wires":[]},{"id":"e413bba2.856b08","type":"link out","z":"6be9f350.9b27ac","name":"","links":["fc5cf2c1.12f1"],"x":795,"y":860,"wires":[]}]